* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index {
    background-color: rgb(201, 199, 199);
}

.index-h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding: 5px;

}

.index-ul {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    margin-left: 5px;
}

.index-li {
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1px;
}